<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 *ngIf="mode == 1" class="mb-0">Visualizar</h3>
                    <h3 *ngIf="mode == 2" class="mb-0">Crear</h3>
                    <h3 *ngIf="mode == 3" class="mb-0">Actualizar</h3>
                </div>
                <form class="form" [formGroup]="cityFormGroup">
                    <div class="card-body">
                        <!-- ID -->
                        <div class="row">
                            <div class="col-4">
                                <label>ID:</label>
                            </div>
                            <div class="col-8">
                                <p>{{ city.id }}</p>
                            </div>
                        </div>
                        <br />
                        <!-- Nombre de la ciudad -->
                        <div class="row">
                            <div class="col-4">
                                <label>Nombre de la ciudad:</label>
                            </div>
                            <div class="col-8">
                                <input type="text" class="form-control" [(ngModel)]="city.city_name"
                                    formControlName="city_name" />
                                <div *ngIf="
                  formControls.city_name.errors &&
                  (formControls.city_name.dirty || formControls.city_name.touched || trySend)">
                                    <strong *ngIf="formControls.city_name.errors.required"
                                        class="msnError">Requerido</strong>
                                    <strong *ngIf="formControls.city_name.errors.minlength" class="msnError">Debe tener
                                        al menos 1 carácter</strong>
                                </div>
                            </div>
                        </div>
                        <br />
                        <!-- Código postal -->
                        <div class="row">
                            <div class="col-4">
                                <label>Código postal:</label>
                            </div>
                            <div class="col-8">
                                <input type="text" class="form-control" [(ngModel)]="city.zip_code"
                                    formControlName="zip_code" />
                                <div *ngIf="
                  formControls.zip_code.errors &&
                  (formControls.zip_code.dirty || formControls.zip_code.touched || trySend)">
                                    <strong *ngIf="formControls.zip_code.errors.required"
                                        class="msnError">Requerido</strong>
                                    <strong *ngIf="formControls.zip_code.errors.maxlength" class="msnError">Máximo 10
                                        caracteres</strong>
                                </div>
                            </div>
                        </div>
                        <br />
                        <!-- ID del departamento -->
                        <div class="row">
                            <div class="col-4">
                                <label>ID del departamento:</label>
                            </div>
                            <div class="col-8">
                                <input type="number" class="form-control" [(ngModel)]="city.department_id"
                                    formControlName="department_id" />
                                <div *ngIf="
                  formControls.department_id.errors &&
                  (formControls.department_id.dirty || formControls.department_id.touched || trySend)">
                                    <strong *ngIf="formControls.department_id.errors.required"
                                        class="msnError">Requerido</strong>
                                    <strong *ngIf="formControls.department_id.errors.min" class="msnError">Debe ser un
                                        número mayor que 0</strong>
                                </div>
                            </div>
                        </div>
                        <br />
                        <!-- Buttons -->
                        <div class="row">
                            <div class="col-4"></div>
                            <div class="col-8">
                                <button *ngIf="mode == 2" type="button" class="btn btn-success btn-block"
                                    (click)="create()">Crear</button>
                                <button *ngIf="mode == 3" type="button" class="btn btn-success btn-block"
                                    (click)="update()">Actualizar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>