<div class="header bg-gradient-info pb-8 pt-5 pt-md-8"></div>

<!-- Page content -->
<div class="container-fluid mt--7">
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0 bg-info text-white">
                    <h3 class="mb-0">Lista de Vehículos</h3>
                </div>
                <div class="card-body">
                    <!-- Botón Crear Vehículo -->
                    <button type="button" class="btn btn-outline-success mb-3" (click)="create()">
                        Crear Vehículo
                    </button>
                    <!-- Tabla -->
                    <div class="table-responsive">
                        <table class="table table-striped align-items-center">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Placa</th>
                                    <th scope="col">Modelo</th>
                                    <th scope="col">Capacidad de Carga</th>
                                    <th scope="col">Latitud Inicial</th>
                                    <th scope="col">Longitud Inicial</th>
                                    <th scope="col">Latitud Final</th>
                                    <th scope="col">Longitud Final</th>
                                    <th scope="col">Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let vehicle of vehicles">
                                    <td>{{ vehicle.id }}</td>
                                    <td>{{ vehicle.license }}</td>
                                    <td>{{ vehicle.model }}</td>
                                    <td>{{ vehicle.load_capacity }} kg</td>
                                    <td>{{ vehicle.latitud_inicial }}</td>
                                    <td>{{ vehicle.longitud_inicial }}</td>
                                    <td>{{ vehicle.latitud_final }}</td>
                                    <td>{{ vehicle.longitud_final }}</td>
                                    <td>
                                        <button type="button" class="btn btn-info btn-sm" (click)="view(vehicle.id)">
                                            Ver
                                        </button>
                                        <button type="button" class="btn btn-warning btn-sm" (click)="update(vehicle.id)">
                                            Editar
                                        </button>
                                        <button type="button" class="btn btn-danger btn-sm" (click)="delete(vehicle.id)">
                                            Eliminar
                                        </button>
                                        <button type="button" class="btn btn-danger btn-sm" (click)="location(vehicle.id)">
                                            Ubicación
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
