<div class="container">
    <h1>{{ mode === 2 ? "Crear" : mode === 3 ? "Actualizar" : "Ver" }} Propietario</h1>
    <form [formGroup]="theFormGroup" (ngSubmit)="mode === 2 ? create() : update()">
        <div class="form-group">
            <label for="phone">Teléfono</label>
            <input id="phone" formControlName="phone" class="form-control"
                [class.is-invalid]="theFormGroup.get('phone').invalid && trySend" />
            <div *ngIf="theFormGroup.get('phone').invalid && trySend" class="invalid-feedback">
                <div *ngIf="theFormGroup.get('phone').hasError('required')">El teléfono es obligatorio.</div>
                <div *ngIf="theFormGroup.get('phone').hasError('pattern')">El teléfono debe ser un número válido.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="date_of_acquisition">Fecha de Adquisición</label>
            <input id="date_of_acquisition" formControlName="date_of_acquisition" type="date" class="form-control"
                [class.is-invalid]="theFormGroup.get('date_of_acquisition').invalid && trySend" />
            <div *ngIf="theFormGroup.get('date_of_acquisition').invalid && trySend" class="invalid-feedback">
                La fecha de adquisición es obligatoria.
            </div>
        </div>

        <div class="form-group">
            <label for="driver_id">ID del Conductor</label>
            <input id="driver_id" formControlName="driver_id" type="number" class="form-control"
                [class.is-invalid]="theFormGroup.get('driver_id').invalid && trySend" />
            <div *ngIf="theFormGroup.get('driver_id').invalid && trySend" class="invalid-feedback">
                <div *ngIf="theFormGroup.get('driver_id').hasError('required')">El ID del conductor es obligatorio.
                </div>
                <div *ngIf="theFormGroup.get('driver_id').hasError('min')">El ID del conductor debe ser mayor a 0.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="user_id">ID de Usuario</label>
            <input id="user_id" formControlName="user_id" type="number" class="form-control"
                [class.is-invalid]="theFormGroup.get('user_id').invalid && trySend" />
            <div *ngIf="theFormGroup.get('user_id').invalid && trySend" class="invalid-feedback">
                <div *ngIf="theFormGroup.get('user_id').hasError('required')">El ID de usuario es obligatorio.</div>
                <div *ngIf="theFormGroup.get('user_id').hasError('min')">El ID de usuario debe ser mayor a 0.</div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="theFormGroup.invalid">Guardar</button>
    </form>
</div>