<div class="header bg-gradient-info pb-8 pt-5 pt-md-8"></div>

<!-- Contenido de la página -->
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0 bg-info text-white">
          <h3 class="mb-0">Lista de Facturas</h3>
        </div>
        <div class="card-body">
          <!-- Botón Crear Factura -->
          <button type="button" class="btn btn-outline-success mb-3" (click)="create()">Crear Factura</button>
          <!-- Tabla -->
          <div class="table-responsive">
            <table class="table table-striped align-items-center">
              <thead class="thead-light">
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Fecha y Hora</th>
                  <th scope="col">Detalles</th>
                  <th scope="col">ID de Compartir</th>
                  <th scope="col">ID de Gasto</th>
                  <th scope="col">Opciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let bill of bills">
                  <td>{{ bill.id }}</td>
                  <td>{{ bill.date_time | date: 'short' }}</td>
                  <td>{{ bill.details }}</td>
                  <td>{{ bill.share_id }}</td>
                  <td>{{ bill.spent_id }}</td>
                  <td>
                    <button type="button" class="btn btn-info btn-sm" (click)="view(bill.id)">
                      Ver
                    </button>
                    <button type="button" class="btn btn-warning btn-sm" (click)="update(bill.id)">
                      Editar
                    </button>
                    <button type="button" class="btn btn-danger btn-sm" (click)="delete(bill.id)">
                      Eliminar
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
