<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>
<div class="container-fluid mt--7">
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 *ngIf="mode == 1" class="mb-0">Visualizar</h3>
                    <h3 *ngIf="mode == 2" class="mb-0">Crear</h3>
                    <h3 *ngIf="mode == 3" class="mb-0">Actualizar</h3>
                </div>
                <form class="form" [formGroup]="theFormGroup">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <label>Id:</label>
                            </div>
                            <div class="col-8">
                                <p>{{bill.id}}</p>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-4">
                                <label>Fecha y Hora:</label>
                            </div>
                            <div class="col-8">
                                <input type="datetime-local" class="form-control" [(ngModel)]="bill.date_time"
                                    formControlName="date_time" [readonly]="mode === 1" />
                                <div
                                    *ngIf="theFormGroup.get('date_time').errors && (theFormGroup.get('date_time').dirty || theFormGroup.get('date_time').touched || trySend)">
                                    <strong *ngIf="theFormGroup.get('date_time').errors.required"
                                        class="msnError">Requerido</strong>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-4">
                                <label>Detalles:</label>
                            </div>
                            <div class="col-8">
                                <input type="text" class="form-control" [(ngModel)]="bill.details"
                                    formControlName="details" [readonly]="mode === 1" />
                                <div
                                    *ngIf="theFormGroup.get('details').errors && (theFormGroup.get('details').dirty || theFormGroup.get('details').touched || trySend)">
                                    <strong *ngIf="theFormGroup.get('details').errors.required"
                                        class="msnError">Requerido</strong>
                                    <strong *ngIf="theFormGroup.get('details').errors.maxLength" class="msnError">Máximo
                                        255 caracteres</strong>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-4">
                                <label>Share ID:</label>
                            </div>
                            <div class="col-8">
                                <input type="number" class="form-control" [(ngModel)]="bill.share_id"
                                    formControlName="share_id" [readonly]="mode === 1" />
                                <div
                                    *ngIf="theFormGroup.get('share_id').errors && (theFormGroup.get('share_id').dirty || theFormGroup.get('share_id').touched || trySend)">
                                    <strong *ngIf="theFormGroup.get('share_id').errors.required"
                                        class="msnError">Requerido</strong>
                                    <strong *ngIf="theFormGroup.get('share_id').errors.min" class="msnError">Valor
                                        mínimo debe ser 1</strong>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-4">
                                <label>Spent ID:</label>
                            </div>
                            <div class="col-8">
                                <input type="number" class="form-control" [(ngModel)]="bill.spent_id"
                                    formControlName="spent_id" [readonly]="mode === 1" />
                                <div
                                    *ngIf="theFormGroup.get('spent_id').errors && (theFormGroup.get('spent_id').dirty || theFormGroup.get('spent_id').touched || trySend)">
                                    <strong *ngIf="theFormGroup.get('spent_id').errors.required"
                                        class="msnError">Requerido</strong>
                                    <strong *ngIf="theFormGroup.get('spent_id').errors.min" class="msnError">Valor
                                        mínimo debe ser 1</strong>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-4"></div>
                            <div class="col-8">
                                <button *ngIf="mode == 2" class="btn btn-success btn-block"
                                    (click)="create()">Crear</button>
                                <button *ngIf="mode == 3" class="btn btn-success btn-block"
                                    (click)="update()">Actualizar</button>
                                <button *ngIf="mode == 1" class="btn btn-primary btn-block"
                                    (click)="router.navigate(['/bills/list'])">Volver</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>