<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 *ngIf="mode == 1" class="mb-0">Visualizar</h3>
                    <h3 *ngIf="mode == 2" class="mb-0">Crear</h3>
                    <h3 *ngIf="mode == 3" class="mb-0">Actualizar</h3>
                </div>
                <form class="form" [formGroup]="addressFormGroup">
                    <div class="card-body">
                        <!-- ID -->
                        <div class="row">
                            <div class="col-4">
                                <label>ID:</label>
                            </div>
                            <div class="col-8">
                                <p>{{ address.id }}</p>
                            </div>
                        </div>
                        <br />
                        <!-- Dirección Nombre -->
                        <div class="row">
                            <div class="col-4">
                                <label>Nombre de la Dirección:</label>
                            </div>
                            <div class="col-8">
                                <input type="text" class="form-control" formControlName="address_name" />
                                <div *ngIf="
                  formControls.address_name.errors &&
                  (formControls.address_name.dirty || formControls.address_name.touched || trySend)">
                                    <strong *ngIf="formControls.address_name.errors.required"
                                        class="msnError">Requerido</strong>
                                    <strong *ngIf="formControls.address_name.errors.minlength" class="msnError">Mínimo 4
                                        caracteres</strong>
                                    <strong *ngIf="formControls.address_name.errors.maxlength" class="msnError">Máximo
                                        30 caracteres</strong>
                                </div>
                            </div>
                        </div>
                        <br />
                        <!-- Dirección -->
                        <div class="row">
                            <div class="col-4">
                                <label>Dirección:</label>
                            </div>
                            <div class="col-8">
                                <input type="text" class="form-control" formControlName="address" />
                                <div *ngIf="
                  formControls.address.errors &&
                  (formControls.address.dirty || formControls.address.touched || trySend)">
                                    <strong *ngIf="formControls.address.errors.required"
                                        class="msnError">Requerido</strong>
                                    <strong *ngIf="formControls.address.errors.minlength" class="msnError">Mínimo 4
                                        caracteres</strong>
                                    <strong *ngIf="formControls.address.errors.maxlength" class="msnError">Máximo 25
                                        caracteres</strong>
                                </div>
                            </div>
                        </div>
                        <br />
                        <!-- Referencias -->
                        <div class="row">
                            <div class="col-4">
                                <label>Referencias:</label>
                            </div>
                            <div class="col-8">
                                <input type="text" class="form-control" formControlName="references" />
                                <div *ngIf="
                  formControls.references.errors &&
                  (formControls.references.dirty || formControls.references.touched || trySend)">
                                    <strong *ngIf="formControls.references.errors.minlength" class="msnError">Mínimo 4
                                        caracteres</strong>
                                    <strong *ngIf="formControls.references.errors.maxlength" class="msnError">Máximo 100
                                        caracteres</strong>
                                </div>
                            </div>
                        </div>
                        <br />
                        <!-- Barrio -->
                        <div class="row">
                            <div class="col-4">
                                <label>Barrio:</label>
                            </div>
                            <div class="col-8">
                                <input type="text" class="form-control" formControlName="neighborhood" />
                                <div *ngIf="
                  formControls.neighborhood.errors &&
                  (formControls.neighborhood.dirty || formControls.neighborhood.touched || trySend)">
                                    <strong *ngIf="formControls.neighborhood.errors.required"
                                        class="msnError">Requerido</strong>
                                    <strong *ngIf="formControls.neighborhood.errors.minlength" class="msnError">Mínimo 4
                                        caracteres</strong>
                                    <strong *ngIf="formControls.neighborhood.errors.maxlength" class="msnError">Máximo
                                        20 caracteres</strong>
                                </div>
                            </div>
                        </div>
                        <br />
                        <!-- ID de Ciudad -->
                        <div class="row">
                            <div class="col-4">
                                <label>ID de Ciudad:</label>
                            </div>
                            <div class="col-8">
                                <input type="number" class="form-control" formControlName="city_id" />
                                <div *ngIf="
                  formControls.city_id.errors &&
                  (formControls.city_id.dirty || formControls.city_id.touched || trySend)">
                                    <strong *ngIf="formControls.city_id.errors.required"
                                        class="msnError">Requerido</strong>
                                    <strong *ngIf="formControls.city_id.errors.min" class="msnError">Debe ser mayor que
                                        0</strong>
                                </div>
                            </div>
                        </div>
                        <br />
                        <!-- Buttons -->
                        <div class="row">
                            <div class="col-4"></div>
                            <div class="col-8">
                                <button *ngIf="mode == 2" type="button" class="btn btn-success btn-block"
                                    (click)="create()">Crear</button>
                                <button *ngIf="mode == 3" type="button" class="btn btn-success btn-block"
                                    (click)="update()">Actualizar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>