<div class="container">
    <h2>{{ mode === 1 ? 'Ver' : mode === 2 ? 'Crear' : 'Actualizar' }} Vehículo</h2>

    <form [formGroup]="formGroup" (ngSubmit)="mode === 2 ? create() : update()">
        <div class="form-group">
            <label for="license">Placa</label>
            <input type="text" class="form-control" id="license" formControlName="license"
                [ngClass]="{ 'is-invalid': formGroup.get('license')?.invalid && trySend }" />
            <div *ngIf="formGroup.get('license')?.invalid && trySend" class="invalid-feedback">
                <small *ngIf="formGroup.get('license')?.hasError('required')">Este campo es obligatorio.</small>
                <small *ngIf="formGroup.get('license')?.hasError('minlength')">La placa debe tener al menos 6
                    caracteres.</small>
            </div>
        </div>

        <div class="form-group">
            <label for="model">Modelo</label>
            <input type="text" class="form-control" id="model" formControlName="model"
                [ngClass]="{ 'is-invalid': formGroup.get('model')?.invalid && trySend }" />
            <div *ngIf="formGroup.get('model')?.invalid && trySend" class="invalid-feedback">
                <small *ngIf="formGroup.get('model')?.hasError('required')">Este campo es obligatorio.</small>
                <small *ngIf="formGroup.get('model')?.hasError('minlength')">El modelo debe tener al menos 2
                    caracteres.</small>
            </div>
        </div>

        <div class="form-group">
            <label for="load_capacity">Capacidad de Carga</label>
            <input type="number" class="form-control" id="load_capacity" formControlName="load_capacity"
                [ngClass]="{ 'is-invalid': formGroup.get('load_capacity')?.invalid && trySend }" />
            <div *ngIf="formGroup.get('load_capacity')?.invalid && trySend" class="invalid-feedback">
                <small *ngIf="formGroup.get('load_capacity')?.hasError('required')">Este campo es obligatorio.</small>
                <small *ngIf="formGroup.get('load_capacity')?.hasError('min')">Debe ser mayor que 0.</small>
            </div>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="formGroup.invalid">
            {{ mode === 2 ? 'Crear' : 'Actualizar' }}
        </button>
    </form>
</div>