<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 *ngIf="mode == 1" class="mb-0">Visualizar</h3>
                    <h3 *ngIf="mode == 2" class="mb-0">Crear</h3>
                    <h3 *ngIf="mode == 3" class="mb-0">Actualizar</h3>
                </div>
                <form class="form" [formGroup]="naturalPeopleFormGroup">
                    <div class="card-body">
                        <!-- ID -->
                        <div class="row">
                            <div class="col-4">
                                <label>ID:</label>
                            </div>
                            <div class="col-8">
                                <p>{{ naturalPeople.id }}</p>
                            </div>
                        </div>
                        <br />
                        <!-- Tipo de documento -->
                        <div class="row">
                            <div class="col-4">
                                <label>Tipo de documento:</label>
                            </div>
                            <div class="col-8">
                                <input type="text" class="form-control" [(ngModel)]="naturalPeople.type_document"
                                    formControlName="type_document" />
                                <div *ngIf="
                  formControls.type_document.errors &&
                  (formControls.type_document.dirty || formControls.type_document.touched || trySend)">
                                    <strong *ngIf="formControls.type_document.errors.required"
                                        class="msnError">Requerido</strong>
                                </div>
                            </div>
                        </div>
                        <br />
                        <!-- Fecha de nacimiento -->
                        <div class="row">
                            <div class="col-4">
                                <label>Fecha de nacimiento:</label>
                            </div>
                            <div class="col-8">
                                <input type="date" class="form-control" [(ngModel)]="naturalPeople.birthdate"
                                    formControlName="birthdate" />
                                <div *ngIf="
                  formControls.birthdate.errors &&
                  (formControls.birthdate.dirty || formControls.birthdate.touched || trySend)">
                                    <strong *ngIf="formControls.birthdate.errors.required"
                                        class="msnError">Requerido</strong>
                                </div>
                            </div>
                        </div>
                        <br />
                        <!-- ID de cliente -->
                        <div class="row">
                            <div class="col-4">
                                <label>ID de cliente:</label>
                            </div>
                            <div class="col-8">
                                <input type="number" class="form-control" [(ngModel)]="naturalPeople.customer_id"
                                    formControlName="customer_id" />
                                <div *ngIf="
                  formControls.customer_id.errors &&
                  (formControls.customer_id.dirty || formControls.customer_id.touched || trySend)">
                                    <strong *ngIf="formControls.customer_id.errors.required"
                                        class="msnError">Requerido</strong>
                                </div>
                            </div>
                        </div>
                        <br />
                        <!-- ID de usuario -->
                        <div class="row">
                            <div class="col-4">
                                <label>ID de usuario:</label>
                            </div>
                            <div class="col-8">
                                <input type="text" class="form-control" [(ngModel)]="naturalPeople.user_id"
                                    formControlName="user_id" />
                                <div *ngIf="
                  formControls.user_id.errors &&
                  (formControls.user_id.dirty || formControls.user_id.touched || trySend)">
                                    <strong *ngIf="formControls.user_id.errors.required"
                                        class="msnError">Requerido</strong>
                                </div>
                            </div>
                        </div>
                        <br />
                        <!-- Buttons -->
                        <div class="row">
                            <div class="col-4"></div>
                            <div class="col-8">
                                <button *ngIf="mode == 2" type="button" class="btn btn-success btn-block"
                                    (click)="create()">Crear</button>
                                <button *ngIf="mode == 3" type="button" class="btn btn-success btn-block"
                                    (click)="update()">Actualizar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>