<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 *ngIf="mode == 1" class="mb-0">Visualizar</h3>
                    <h3 *ngIf="mode == 2" class="mb-0">Crear</h3>
                    <h3 *ngIf="mode == 3" class="mb-0">Actualizar</h3>
                </div>
                <form class="form" [formGroup]="departmentFormGroup">
                    <div class="card-body">
                        <!-- ID -->
                        <div class="row">
                            <div class="col-4">
                                <label>ID:</label>
                            </div>
                            <div class="col-8">
                                <p>{{ department.id }}</p>
                            </div>
                        </div>
                        <br />
                        <!-- Nombre del departamento -->
                        <div class="row">
                            <div class="col-4">
                                <label>Nombre del departamento:</label>
                            </div>
                            <div class="col-8">
                                <input type="text" class="form-control" [(ngModel)]="department.department_name"
                                    formControlName="department_name" />
                                <div *ngIf="
                  formControls.department_name.errors &&
                  (formControls.department_name.dirty || formControls.department_name.touched || trySend)">
                                    <strong *ngIf="formControls.department_name.errors.required"
                                        class="msnError">Requerido</strong>
                                    <strong *ngIf="formControls.department_name.errors.maxLength"
                                        class="msnError">Máximo 100 caracteres</strong>
                                </div>
                            </div>
                        </div>
                        <br />
                        <!-- Región -->
                        <div class="row">
                            <div class="col-4">
                                <label>Región:</label>
                            </div>
                            <div class="col-8">
                                <input type="text" class="form-control" [(ngModel)]="department.region"
                                    formControlName="region" />
                                <div *ngIf="
                  formControls.region.errors &&
                  (formControls.region.dirty || formControls.region.touched || trySend)">
                                    <strong *ngIf="formControls.region.errors.required"
                                        class="msnError">Requerido</strong>
                                    <strong *ngIf="formControls.region.errors.maxLength" class="msnError">Máximo 100
                                        caracteres</strong>
                                </div>
                            </div>
                        </div>
                        <br />
                        <!-- Buttons -->
                        <div class="row">
                            <div class="col-4"></div>
                            <div class="col-8">
                                <button *ngIf="mode == 2" type="button" class="btn btn-success btn-block"
                                    (click)="create()">Crear</button>
                                <button *ngIf="mode == 3" type="button" class="btn btn-success btn-block"
                                    (click)="update()">Actualizar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>