<div class="container">
    <h2 *ngIf="mode === 2">Crear Cuota</h2>
    <h2 *ngIf="mode === 3">Actualizar Cuota</h2>
    <h2 *ngIf="mode === 1">Ver Cuota</h2>
    <form [formGroup]="theFormGroup" (ngSubmit)="mode === 2 ? create() : update()">
        <div class="form-group">
            <label for="amount">Monto</label>
            <input type="number" class="form-control" id="amount" formControlName="amount" [readonly]="mode === 1"
                placeholder="Ingrese el monto" />
            <div *ngIf="trySend && theFormGroup.get('amount')?.invalid" class="text-danger">
                El monto es obligatorio y debe ser mayor a 0.
            </div>
        </div>
        <div class="form-group">
            <label for="interest">Interés</label>
            <input type="number" class="form-control" id="interest" formControlName="interest" [readonly]="mode === 1"
                placeholder="Ingrese el interés" />
            <div *ngIf="trySend && theFormGroup.get('interest')?.invalid" class="text-danger">
                El interés es obligatorio y debe ser mayor o igual a 0.
            </div>
        </div>
        <div class="form-group">
            <label for="contract_id">ID de Contrato</label>
            <input type="number" class="form-control" id="contract_id" formControlName="contract_id"
                [readonly]="mode === 1" placeholder="Ingrese el ID del contrato" />
            <div *ngIf="trySend && theFormGroup.get('contract_id')?.invalid" class="text-danger">
                El ID del contrato es obligatorio.
            </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="theFormGroup.invalid">
            {{ mode === 2 ? 'Crear' : 'Actualizar' }}
        </button>
    </form>
</div>