<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 *ngIf="mode == 1" class="mb-0">Visualizar</h3>
                    <h3 *ngIf="mode == 2" class="mb-0">Crear</h3>
                    <h3 *ngIf="mode == 3" class="mb-0">Actualizar</h3>
                </div>
                <form class="form" [formGroup]="shareFormGroup">
                    <div class="card-body">
                        <!-- ID -->
                        <div class="row">
                            <div class="col-4">
                                <label>ID:</label>
                            </div>
                            <div class="col-8">
                                <p>{{ share.id }}</p>
                            </div>
                        </div>
                        <br />
                        <!-- Amount -->
                        <div class="row">
                            <div class="col-4">
                                <label>Monto:</label>
                            </div>
                            <div class="col-8">
                                <input type="number" class="form-control" [(ngModel)]="share.amount"
                                    formControlName="amount" />
                                <div *ngIf="
                  formControls.amount.errors &&
                  (formControls.amount.dirty || formControls.amount.touched || trySend)">
                                    <strong *ngIf="formControls.amount.errors.required"
                                        class="msnError">Requerido</strong>
                                    <strong *ngIf="formControls.amount.errors.min" class="msnError">Debe ser un valor
                                        positivo</strong>
                                </div>
                            </div>
                        </div>
                        <br />
                        <!-- Interest -->
                        <div class="row">
                            <div class="col-4">
                                <label>Interés:</label>
                            </div>
                            <div class="col-8">
                                <input type="number" class="form-control" [(ngModel)]="share.interest"
                                    formControlName="interest" />
                                <div *ngIf="
                  formControls.interest.errors &&
                  (formControls.interest.dirty || formControls.interest.touched || trySend)">
                                    <strong *ngIf="formControls.interest.errors.required"
                                        class="msnError">Requerido</strong>
                                    <strong *ngIf="formControls.interest.errors.min" class="msnError">Debe ser un valor
                                        positivo</strong>
                                    <strong *ngIf="formControls.interest.errors.max" class="msnError">Debe ser menor o
                                        igual a 1</strong>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-4">
                                <label>Estatus</label>
                            </div>
                            <div class="col-8">
                                <input type="checkbox" class="form-control" [(ngModel)]="share.status" formControlName="status">
                                <!-- Cambia esta línea -->
                                <div *ngIf="
                                    formControls.status.errors && 
                                    (formControls.status.dirty || 
                                     formControls.status.touched || 
                                     trySend)
                                ">
                                    <strong *ngIf="formControls.status.errors?.['required']"
                                        class="msnError text-danger">Requerido</strong>
                                </div>
                            </div>  
                        </div>
                        <br>
                        <!-- Contract ID -->
                        <div class="row">
                            <div class="col-4">
                                <label>ID del contrato:</label>
                            </div>
                            <div class="col-8">
                                <input type="number" class="form-control" [(ngModel)]="share.contract_id"
                                    formControlName="contract_id" />
                                <div *ngIf="
                  formControls.contract_id.errors &&
                  (formControls.contract_id.dirty || formControls.contract_id.touched || trySend)">
                                    <strong *ngIf="formControls.contract_id.errors.required"
                                        class="msnError">Requerido</strong>
                                </div>
                            </div>
                        </div>
                        <br />
                        <!-- Buttons -->
                        <div class="row">
                            <div class="col-4"></div>
                            <div class="col-8">
                                <button *ngIf="mode == 2" type="button" class="btn btn-success btn-block"
                                    (click)="create()">Crear</button>
                                <button *ngIf="mode == 3" type="button" class="btn btn-success btn-block"
                                    (click)="update()">Actualizar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>